extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Brittany Tinsley

        //- Feel free to personalize the title below
        p Full Stack Software Engineer

        .about-bio

            p  I'm always eager to learn new things and improve my skills as a software engineer. Some of my current goals are:
              ul 
                li To learn more about cloud computing and AWS services
                li To explore the latest trends and best practices in web development
                li To contribute to open source projects and communities
                li To mentor and inspire other software engineers 


      .skills-contact-box.box
        h6 Skills


        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

       
        ul
          li 555-555-1234
          li email@email.com

        
        a.btn-link(href='https://www.linkedin.com/in/brittanytinsley/') LinkedIn
        a.btn-link(href='https://github.com/bktinsley0') GitHub
        

    nav.nav
      a(href='/')
        span &larr;
        |  Back