extends layout.pug

block content

  article.portfolio-intro
    h1 Let's make the web great together!

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p Hello There! I am a full stack sofftware engineer specializing in  front-end technologies such as React, and Typescript. I'm passionate about creating beautiful, responsive, and accessible websites that deliver great user experiences.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in data.projects
        .cell
          a(href=`/project/${project.id}` )
            img.thumbnail(src= `${project.image_urls}` width='320' height='240', alt='project sample pic')
            h5 #{project.project_name}

